{% extends 'admin/base.html' %} {% block admin_block %} {% load static %}
<div class="container">
  <div class="row my-5">
    <div class="offset-md-3 col-md-6">
      <h1 class="d-inline-block">Admins</h1>
      <a href="{% url 'add_admin' %}" class="text-dark"
        ><i
          class="fa fa-plus-square fa-3x d-inline-block text-primary float-end"
          aria-hidden="true"
        ></i
      ></a>
      {% if message %}
      <script>
        setTimeout(() => {
          <div class="alert alert-danger">{{ message }}</div>;
        }, 3000);
      </script>
      {% endif %}
      <table class="table table-striped">
        <thead class="table-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% if admins %} {% for admin in admins %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{admin.name}}</td>
            <td>{{admin.email}}</td>

            <td>
              <a
                href="{% url 'update_admin' admin.id %}"
                class="btn btn-primary btm-sm"
              >
                <i class="fa fa-edit" aria-hidden="true"></i>
              </a>
              <form
                action="{% url 'delete_admin' admin.id %}"
                method="post"
                class="d-inline-block"
              >
                {% csrf_token %}
                <button class="btn btn-warning btm-sm" type="submit">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
              </form>
            </td>
          </tr>

          {% endfor %} {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
